    <!-- Three Steps Row -->
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>One Double, Multiple Hats</h2>
                    <p class = "marg-bot-50">Examples on how your double can help</p>
                    <div class = "row">
                        <div class = "col-md-4">
                            <img src="./img/filler_icon.png" alt="" width="150" height="150">
                            <h3 class = "pad-top-30 marg-bot-20">Product Development</h3>
                            <p class = "step-text">Donec nec justo eget felis facilisis fermentumenean dignissim pellentesque felis.Donec nec justo eget felis facilisis fermentumenean dignissim pellentesque felis.</p>
                        </div>
                        <div class = "col-md-4">
                            <img src="./img/filler_icon.png" alt="" width="150" height="150">
                            <h3 class = "pad-top-30 marg-bot-20">Business Development</h3>
                            <p class = "step-text">Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</p>
                        </div>
                        <div class = "col-md-4">
                            <img src="./img/filler_icon.png" alt="" width="150" height="150">
                            <h3 class = "pad-top-30 marg-bot-20">General Support</h3>
                            <p class = "step-text">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>