    <!-- 3 features Section -->
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>Double your productivity in 3 steps</h2>
                <p class = "cap-text">It’s as easy as 1, 2, and 3</p>

                <div class = "row">
                    <div class = "col-md-6 feat-img">
                        <img src="./img/filler_img1.png" alt="">
                    </div>
                    <div class = "col-md-6 feat-text">
                        <div class = "feat-title pad-bot-10">
                            Step 1: Vestibulum auctor dapibus neque.
                        </div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </div>
                </div>

                <div class = "row">
                    <div class = "col-md-6 feat-text">
                        <div class = "feat-title pad-bot-10">
                            Step 2: Vestibulum auctor dapibus neque.
                        </div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </div>
                    <div class = "col-md-6 feat-img">
                        <img src="./img/filler_img2.png" alt="">
                    </div>
                </div>

                <div class = "row">
                    <div class = "col-md-6 feat-img">
                        <img src="./img/filler_img3.png" alt="">
                    </div>
                    <div class = "col-md-6 feat-text">
                        <div class = "feat-title pad-bot-10">
                            Step 3: Vestibulum auctor dapibus neque.
                        </div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </div>
                </div>
            </div>
        </div>
    </section>