    <!-- 3 features Section -->
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Double your productivity in 3 steps</h2>
                <p class = "cap-text">It’s as easy as 1, 2, and 3</p>

                <div class = "row">
                    <div class = "col-sm-4 col-sm-push-2 three-split-img">
                        <img src="./image/filler_img1.png" alt="">
                    </div>
                    <div class = "col-sm-4 col-sm-push-2 three-split-text">
                        <div class = "three-split-title">
                            Step 1: Vestibulum auctor dapibus neque.
                        </div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </div>
                </div>

                <div class = "row">
                    <div class = "col-sm-4 col-sm-push-2 three-split-text">
                        <div class = "three-split-title">
                            Step 2: Vestibulum auctor dapibus neque.
                        </div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </div>
                    <div class = "col-sm-4 col-sm-push-2 three-split-img">
                        <img src="./image/filler_img2.png" alt="">
                    </div>
                </div>

                <div class = "row">
                    <div class = "col-sm-4 col-sm-push-2 three-split-img">
                        <img src="./image/filler_img3.png" alt="">
                    </div>
                    <div class = "col-sm-4 col-sm-push-2 three-split-text">
                        <div class = "three-split-title">
                            Step 3: Vestibulum auctor dapibus neque.
                        </div>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </div>
                </div>
            </div>
        </div>
    </section>