    <!-- Footer -->
    <footer>
        <div class="container text-center">
        	<h2>Startups are hard. Double can help.</h2>
        	<a href = "#" class = "btn btn-footer-cta btn-default">Use Double FREE - it’s on us</a>

        	<div class = "inner-footer">
            	<div class = "row footer-bottom">
            		<div class = "col-sm-6">
            			<ul class = "footer-menu">
                    		<li><a class="footer-logo" href="#">double</a></li>
                    		<li class = "footer-copyright">©2015 All rights Reserved</li>
            			</ul>
            		</div>
            	<div class = "col-sm-6">
                	<ul class = "footer-menu">
                    	<li class = "footer-link">About Double</li>
                    	<li class = "footer-link"><a href = "#">About Us</a></li>
                    	<li class =  "footer-link"><a href = "#">Contact Us</a></li>
                	</ul>
                	<ul class = "footer-menu">
                    	<li class = "footer-link">Get Involved</li>
                    	<li class = "footer-link"><a href = "#">For Founders</a></li>
                    	<li class =  "footer-link"><a href = "#">Social Media</a></li>
                	</ul>
                	<ul class = "footer-menu">
                    	<li class = "footer-link">Join the Conversation</li>
                    	<li class = "footer-link"><a href = "#">For Founders</a></li>
                    	<li class = "footer-link"><a href = "#">Social Media</a></li>
                	</ul>
            	</div>
            <p>Copyright &copy; Double 20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>





