    <!-- Intro Header -->
    <header class= "intro">
        <div class= "intro-body">
            <div class= "container">
                <div class= "row">
                    <div class= "col-md-12">
                        <div class = "col-md-5">
                            <h1 class="brand-heading">Your Business Assistant <br>- On Demand</h1>
                            <p class="intro-text">Your Double takes care of all your administrative tasks in developing your products and running your business so you can focus on growing your startup.</p>
                            <a href = "#" class = "btn btn-cta btn-lg">Use Double FREE - it’s on us</a>
                            <p class = "cap-text pad-top-20">*60 Minutes Trial</p>
                        </div>
                        <div class = "col-md-7">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>